<data count="20">
  <license>Taco 0.76.1
TACO | ABB ROBOTS CONTROL FOR GRASSHOPPER
TACO is a free and user-friendly programming plugin for the simulation and control of ABB industrial robots directly within Grasshopper. Taco offers users to program and visualize ABB robots with parametrics.

Copyright (C) 2016-2018 blickfeld7.com and y2x.design

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.</license>
  <notes>Taco Version 0.76.1
- ABB IRB1200 robot definition</notes>
  <file>http://blickfeld7.com/downloads/Taco/latest/data.zip</file>
  <date>Sunday, 18-Feb-2018 11:56:07 CET</date>
  <errno>0</errno>
  <name>Taco</name>
  <version>0.76.1</version>
  <created>2017-05-16 00:49:46</created>
  <modified>2021-06-28 08:37:20</modified>
  <active>1</active>
  <type>Grasshopper User Object</type>
  <downloads>4693</downloads>
  <updates>7598</updates>
  <description>TACO is a free and user-friendly programming plugin for the simulation and control of ABB industrial robots directly within Grasshopper. Taco offers users to program and visualize ABB robots with parametrics.</description>
  <author>Yu-Ting Sheng | Shih-Yuan Wang | Florian Frank</author>
  <contact>taco@blickfeld7.com</contact>
  <licensetype>free</licensetype>
  <tabname>Taco ABB</tabname>
  <shortname>ABB</shortname>
  <symbolname>Å</symbolname>
</data>